.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container form {
  display: flex;
flex-direction: column;
margin-top: 30%;

}
.container form input {
  padding: 5px 10px 5px 10px;
  margin-top: 10px;
  border-radius: 5px;
}
button{
  margin-top: 10px;
}
/* table___ */
.tables {
  border: 1px solid #000;
  width: 50%;
  text-align: center;

}
table thead th {
}
.tables tbody tr td {
  background: #cccc;
}
.delete {
border: 1px solid black;
color: #ffff;
background-color: #61dafb;
border-radius: 5px;
}